

.decoration{
    background-image: url('../../public/img/footer_bottom_decoration_img.png');
    background-color: black;
    ;
}

footer{
    background-image: url('../../public/img/footer_background.jpg');
    background-position: cover;
}

.iconFoot>i:hover{
    color: $red;
}
