
// navbar
.navComplet{
    z-index: 2;
    position: absolute;
}
.navbar-nav{
    .nav-item{
        .nav-link{
            padding: 20px 30px 20px 30px;
            color: white;
        }
    }
}

.nav-link:hover{
    background-color: $red;
    color: white;
}


.navLogo{
    width: 85px;
    height: 100px;
}



// Caroussel

#carouselExampleCaptions{
    z-index: 1;
    position: relative;

}

.imgCarou {
    filter: brightness(20%);   
}

.texteCarou{
    font-family: "courgette";
    font-size: 70px;
    span{
        font-size: 90px;
    }
    span:nth-child(3){
        color:$red;
    }       
}

.btnCarou{
    button{
        font-size: 17px;
    }
    button:first-child{
        background-color: white;
        color: black;
        

    }
    button:nth-child(2){
        background-color: $red;
        color: white;
    }

}

// indicateur
.carousel-indicators{
    height: 6%;
     
}
 .circle{
      display: flex;
      justify-content: center;
      align-items: center;
    
 }

 .bottomDeco{
     background-image: url('../../public/img/bottom_decoration_img.png');
     background-color: #2f2e2f;
     height: 12px;
     width: 100%;
     

 }
