

.section5{
    background-image: url('../../public/img/main_bg.jpg') ;
    



}

.lesMedias{
    
    border-radius: 8%;
    color: white;
    hr{
        background-color: white;
        height: 0px;
        width: 160px;
        
    }
}

.contact{
    h2{
        color: black;
    }
}