

#section1{
    background-image: url('../../public/img/main_bg.jpg');
   .carte{
       border: 1px solid gray;
       background-color: white;
       
       
       }


    .nav-link{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        font-family: "courgette";
        color: black;
        font-size: 20px;
        margin: 10px 30px 10px 20px;
        padding: 10px;
        
        
        a{
            font-family: "courgette";
            color: black;
            
            
        }

            i{
                 color: rgba(128, 128, 128, 0.685);
                 
                 }
    
    }

 }
.menuList>.navMenu>.nav>.nav-link:hover{
    background-color: transparent;
    color: yellow;
    width: 80%;
    border-right: solid 5px $red;
}

.menu{
    .card{
        border: none;
        text-decoration: none;
        list-style: none;
        border-bottom: dotted black 1px;
        
        .imgMenu{
            flex: 1;
            
            img{
                border-radius: 100%;
                border: 5px rgb(224, 221, 221) solid;
            }
        }
        .card-body{
            flex: 3;
            p{
                font-size: 12px;
            }
            h5{
                font-size: 15px;
            }
        }
        .prix{
            flex: 1;
            
            p{
                background-color: rgb(224, 221, 221);
            }

        }
    }
}

    

