

$red: #C53540;

h2{
    font-size: 40px;
    font-family: "courgette";
    span{
        font-size: 50px;
        color: $red;
    }
}
.maisonForm{
    background-image: url('../../public/img/book_table_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px;
    border-radius: 3%;
}

    